!.env

clowder-pytorch-extractor-example/volumes/*
!clowder-pytorch-extractor-example/volumes/clowder/

clowder-pytorch-extractor-example/volumes/clowder/*
!clowder-pytorch-extractor-example/volumes/clowder/custom/
